*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #11afd6;
}
div{
  width: 140px;
      height: 60px;
      margin: 50px auto;
  }
.rotate {
    border: solid rgb(0, 255, 85);
    transform: rotate(45deg);
    
  }
.scale {
    border: solid rgb(255, 51, 0);
    transform: scale(1.5);
    
  }
.translate {
    border: solid rgb(76, 0, 255);
    transform: translate(50px, 20px);
    
  }
  :hover .rotate{
    transform: rotate(360deg);
  } 
  :hover .scale{
    transform: scale(1);
  } 
  :hover .translate{
    transform: translate(0px, 0px);
  }
  .butt{
    background-color:#3498db;
    color: white;
    padding: 10px 20px;
    padding: 10px 20px;
    min-height: 20px;
    min-width: 120px;
    position: absolute;
    left: 50px;
  }
  .butt:hover{
    background-color:#2ecc71;
    transition: background-color 0.5s ease;
    transform: scale(1.2);
    border-radius: 50%;
}

.background{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: gainsboro;
}
.ball{
  width: 50px;
  height: 50px;
  background-color: brown;
  border-radius: 50%;
  background: radial-gradient(circle at 40px 7px, rgb(255, 119, 119), red 30%, darkred);
  animation: bouncing 1.4s infinite ease-out;
}
@keyframes bouncing{
  0%{
    transform: translateY(0px);
    height: 50px;
    width: 50px;
  }
  38%{
    height: 55%;
    width: 45%;
  }
  50%{
    transform: translateY(92vh);
    height: 40px;
    width: 60px;
  }
}